# devops
precision-sustainable-ag/dst-selector/helm/* @mikahpinegar
precision-sustainable-ag/dst-selector/*.yaml @mikahpinegar 
precision-sustainable-ag/dst-selector/Dockerfile @mikahpinegar

# dst-selector
precision-sustainable-ag/dst-selector/* @mikahpinegar

# tech-dashboard
precision-sustainable-ag/dst-selector/* @brianwdavis @mikahpinegar 